* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

/*
    AppBar
  */

.app-bar {
  padding: 8px 16px;
  background-color: #f1b4bb;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  background-color: #f1b4bb;
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: #f1b4bb;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__menu button:hover {
  background-color: #fdf0f0;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation li:hover {
  background-color: #fdf0f0;
  border-radius: 1rem;
}

.app-bar .app-bar__brand img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #f1b4bb;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  color: white !important;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 8px;
  z-index: 9999;
}

.skip-link:focus {
  top: 0;
}

/*
    Main Content
  */

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  /*background-image: url(../public/images/heros/hero-image_2.jpg);*/
  background-position: center;
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the image stays in the background */
}
.hero_inner {
  color: white;
  filter: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adds a dark overlay for text visibility */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero_title {
  font-size: 64px;
}

.hero_tagline {
  font-size: 16px;
}

.button {
  display: inline-block;
  background-color: #f1b4bb;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #fdf0f0;
}

.content {
  padding: 32px;
}

/*
    Restos
  */

.content__heading {
  width: 100%;
  margin: 60px auto;
  text-align: center;
  color: white;
  background: #f1b4bb;
}

.restos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  margin: 32px 0;
}

/*
    Resto Item
  */

.resto-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  min-width: 44px;
  overflow: hidden;
}

.resto-item__header {
  position: relative;
}

.resto-item .resto-item__header .resto-item__header__pic {
  width: 100%;
}

.resto-item .resto-item__header .resto-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.resto-item
  .resto-item__header
  .resto-item__header__rating
  .resto-item__header__rating__score {
  margin-left: 10px;
}

.resto-item .resto-item__content {
  padding: 16px;
}

.resto-item .resto-item__content h3 {
  margin: 0 0 10px 0;
}

.resto-item .resto-item__content h3 a {
  color: #db0000;
  text-decoration: none;
}

.resto-item .resto-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
    Resto list
  */

.resto {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-width: 44px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.resto .resto__pic {
  width: 100%;
  max-width: 400px;
  display: block;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.resto .resto__name {
  text-align: center;
  color: #db0000;
}

.resto .resto__info .rating {
  color: black;
}

.resto__info {
  margin-top: 20px;
}

.resto .resto__info h2,
h3 {
  margin: 8px 0;
  color: #db0000;
}

.resto .resto__info h4 {
  margin: 8px 0;
}

.resto .review-brand {
  width: 100%;
  text-align: center;
  color: white;
  background: #f1b4bb;
}

/*
  Like
*/
.likeButton {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

.likedButton {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

/*
    Footer
  */

footer {
  background: #f1b4bb;
  padding: 16px;
  min-width: 44px;
}

footer #footerTools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

footer p {
  margin-top: 16px;

  text-align: center;
  color: white;
}

footer p a {
  color: white;
  text-decoration: none;
}

/*
  Button
*/

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #db0000;
  border: 1px solid #770000;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  color: #ffffff;

  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.btn:hover {
  background-color: #db0000bb;
}
.btn:active {
  background-color: #db0000dd;
}
.btn:focus-visible {
  outline: 3px solid #db000055;
}
